:global(*) {
    box-sizing: border-box;
  }
  
  :global(body) {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #ffffff;
  }
  
  :global(html) {
    margin: 0;
    padding: 0;
  }
  
  /* Main Page */
  .login-page {
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background: #ffffff;
    position: relative;
  }
  
  /* Main two column layout */
  .login-layout {
    width: 100%;
    min-height: 100vh;
  
    display: grid;
    grid-template-columns: 58% 42%;
  
    margin: 0;
    padding: 0;
  }
  
  /* 
  Left Blue Section
  */
  
  .hero-panel {
    min-height: 100vh;
  
    display: flex;
    align-items: flex-end;
  
    padding: 70px 7.2vw;
  
    background:
      linear-gradient(
        rgba(23, 104, 220, 0.8),
        rgba(23, 104, 220, 0.8)
      ),
      url("/images/login-background.jpg");
  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .hero-content {
    width: 100%;
    max-width: 670px;
    padding: 70px;

    color: white;
  }
  
  .hero-content .progress{
    display: flex;
    gap: 1em;
    padding-top: 1.5em;
  }
  .progress div{
    width: 45px;
    height: 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
  }
  .progress .progress-active{
    background-color: white;
  }
  /* 
  Right White Section 
  */
  
  .form-panel {
    min-height: 100vh;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    padding: 70px 5vw;
  
    background: #ffffff;
  }
  
  /* Forgot passowrd Card */
  .card {
    width: min(100%, 410px);
  
    padding: 42px 48px 54px;
  
    background: #ffffff;
  
    border-radius: 10px;
  
    box-shadow: 0 2px 22px rgba(0, 0, 0, 0.15);
  }
  

  .card h2 {
    margin: 0;
  
    text-align: center;
  
    color: #080808;
  
    font-size: 2rem;
    line-height: 1.2;
  
    font-weight: 700;
  }
  
  /* Subtitle */
  .subtitle {
    margin: 12px 0 38px;
  
    color: #969696;
  
    text-align: center;
  
    font-size: 1rem;
    line-height: 1.4;
  }
  
  /* Form */
  .ard form {
    width: 100%;
  }
  
  /* Email and Possword Labels */
  .card label {
    display: block;
  
    margin: 0 0 8px;
  
    color: #151515;
  
    font-size: 1rem;
    line-height: 1.2;
  }
  
  /* Login Inputs */
  .card input {
    display: block;
  
    width: 100%;
    height: 38px;
  
    margin: 0 0 18px;
    padding: 0 13px;
  
    border: 1px solid #bdbdbd;
    border-radius: 5px;
  
    outline: none;
  
    background: #ffffff;
  
    color: #222222;
  
    font-size: 15px;
  }
  
  .card input::placeholder {
    color: #a7a7a7;
  }
  
  /* Send code button */
  .card button {
    display: block;
  
    width: 100%;
    height: 38px;
  
    margin-top: 23px;
    padding: 0 16px;
  
    border: none;
    border-radius: 5px;
  
    background: #216cda;
  
    color: #ffffff;
  
    font-size: 15px;
  }
  
  .card button:hover {
    background: #185fc7;
  }
  
  /* Forgot password and Create account Button */
  .form-links {
    display: grid;
    place-items: center;
  
    margin-top: 16px;
  }
  
  .form-links a {
    color: #2870d8;
  
    font-size: 15px;
  
    text-decoration: none;
  }
  
  .form-links a:hover {
    text-decoration: underline;
  }
  /* for error messages */
  .error{
    color: #ff4d4f;
    font-size: 0.75rem;
    font-weight: 700;
}
.home-logo{
  position: absolute;
  top: 2rem;
  left: 2rem;
}
.home-logo a{
  display: flex;
  align-items: center;
  gap: 0.75rem;

  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
}
  /* For mobile responsiveness */
  /* hides left cover on mobile */
  @media (max-width: 768px) {
    .login-layout {
      grid-template-columns: 1fr;
    }
    .hero-panel {
      display: none;
    }
    .card {
      max-width: 410px;
      padding: 32px 24px;
    }
  }
  