:global(*) {
  box-sizing: border-box;
}

:global(body) {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
}

:global(html) {
  margin: 0;
  padding: 0;
}

/* Main Page */
.login-page {
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background: #ffffff;
  position: relative;
}

/* Main two column layout */
.login-layout {
  width: 100%;
  min-height: 100vh;

  display: grid;
  grid-template-columns: 58% 42%;

  margin: 0;
  padding: 0;
}

/* 
Left Blue Section
*/

.hero-panel {
  min-height: 100vh;

  display: flex;
  align-items: center;

  padding: 70px 7.2vw;

  background:
    linear-gradient(
      rgba(23, 104, 220, 0.8),
      rgba(23, 104, 220, 0.8)
    ),
    url("/images/login-background.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-content {
  width: 100%;
  max-width: 670px;

  margin-top: -20px;
}

.hero-content h1 {
  margin: 0;

  color: #ffffff;

  font-size: clamp(54px, 5vw, 78px);
  font-weight: 700;
}

.hero-content p {
  max-width: 670px;

  color: #d8e7ff;
  
  font-size: clamp(18px, 1.6vw, 23px);
}

/* 
Right White Section 
*/

.form-panel {
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 70px 5vw;

  background: #ffffff;
}

/* Login Card */
.login-card {
  width: min(100%, 410px);

  padding: 42px 48px 54px;

  background: #ffffff;

  border-radius: 10px;

  box-shadow: 0 2px 22px rgba(0, 0, 0, 0.035);
}

/* Welcome Back */
.login-card h2 {
  margin: 0;

  text-align: center;

  color: #080808;

  font-size: 35px;
  line-height: 1.2;

  font-weight: 700;
}

/* Subtitle */
.subtitle {
  margin: 12px 0 38px;

  color: #969696;

  text-align: center;

  font-size: 17px;
  line-height: 1.4;
}

/* Form */
.login-card form {
  width: 100%;
}

/* Email and Possword Labels */
.login-card label {
  display: block;

  margin: 0 0 8px;

  color: #151515;

  font-size: 16px;
  line-height: 1.2;
}

/* Login Inputs */
.login-card input {
  display: block;

  width: 100%;
  height: 38px;

  margin: 0 0 18px;
  padding: 0 13px;

  border: 1px solid #bdbdbd;
  border-radius: 5px;

  outline: none;

  background: #ffffff;

  color: #222222;

  font-size: 15px;
}

.login-card input::placeholder {
  color: #a7a7a7;
}

/* Sign In button */
.login-card button {
  display: block;

  width: 100%;
  height: 38px;

  margin-top: 23px;
  padding: 0 16px;

  border: none;
  border-radius: 5px;

  background: #216cda;

  color: #ffffff;

  font-size: 15px;
}

.login-card button:hover {
  background: #185fc7;
}

/* Forgot password and Create account Button */
.form-links {
  display: flex;

  justify-content: space-between;

  margin-top: 16px;
}

.form-links a {
  color: #2870d8;

  font-size: 15px;

  text-decoration: none;
}

.form-links a:hover {
  text-decoration: underline;
}

